---
---

@import "{{ site.theme }}";

/* 언어 선택기 스타일 */
#language-selector {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);
  border: 1px solid var(--sidebar-border-color);
  border-radius: 0.25rem;
}

#sidebar .nav-item {
  height: auto;
}